{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block coltype %}colM{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block javascripts %}
{{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}


{% block content %}
<div id="content-main">
    {% if news %}
        <form method="post" action="{% url 'admin:crawler' %}">
            {% csrf_token %}

            {% for item in news %}
                <div style="margin-bottom: 20px;">
                    <img src="{{ item.image }}" width="20%" align="left" alt="">
                    <div style="float: right; width:70%">
                        <h3>{{ item.name }}</h3>
                        <label>
                            <input type="checkbox" name="news" value="{{ item.link }}" />
                            Bu haberi kaydet
                        </label>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            {% endfor %}

            <div class="submit-row">
                <input type="submit" value="Seçilen Haberleri Kaydet" class="default" name="_save">
            </div>

        </form>
    {% else %}
        <p>There is no more news available</p>
    {% endif %}
</div>


{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}
{% endblock %}